@import url('https://fonts.googleapis.com/css2?family=Atma:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Atma', cursive;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background: #FFF6F7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.cicle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
