@import url('https://fonts.googleapis.com/css2?family=Atma:wght@600;700&family=Poppins:wght@300&display=swap');

body {
    background: #FFF6F7;
}

.navbar {
    font-family: 'Atma', cursive;

}

header .navegation ul {
    position: relative;
    display: flex;
}

header .navegation li {
    list-style: none;
}

header .navegation li a {
    display: inline-block;
    color: #C45C67;
    font-weight: 500;
    text-decoration: none;
    font-size: 22px;
    margin-left: 100px;
    background: #FFC6CC;
    border-radius: 40px;
    padding: 3px 30px;
}

.text-center {
    font-family: 'Atma', cursive;
    font-size: 60px;
    color: #C45C67;
}

.form-control {
    color: #C45C67;
    font-family: 'Poppins', sans-serif;
}

