@import url('https://fonts.googleapis.com/css2?family=Atma:wght@600;700&family=Poppins:wght@300&display=swap');

body {
    background: #FFF6F7;
}

.text-center {
    font-family: 'Atma', cursive;
    font-size: 60px;
    color: #C45C67;
}

.form-control {
    color: #C45C67;
    font-family: 'Poppins', sans-serif;
}

